use strict;

+{
    'TwitterToken' => {
        consumer_key    => 'SETME',
        consumer_secret => 'SETME',
        access_token => 'SETME',
        access_token_secret => 'SETME',
    },
    'track' => 'hachiojipm,hachioji.pm,hachiouji.pm,hachioujipm',
    'YanchaUrl' => 'http://yancha.hachiojipm.org:3000',
    'YanchaTag' => '#PUBLIC',
    'BotName'   => 'twitterbot'
};
